
fieldset {
    border: #e1e0e0 1px solid;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 5px;
}
legend {
    overflow: hidden;
    display: inline-block;
    width: unset;
    padding: 0px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}