@{
    ViewBag.Title = "Contact";
}

<title>Contact</title>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Contact</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">contact</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Contact info</h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">              
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P: </abbr>
                        0114229850
                    </address>
                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@SmartStock.com">Support@SmartStock.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@SmartStock.com">Marketing@SmartStock.com</a>
                    </address>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
   
</section>
