@model Inventory.Models.Dashboard

@{
    ViewBag.Title = "Home Page";
}

<title>Home Page</title>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Statistics</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Statistics</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Current Statistics </h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <!-- Small Box (Stat card) -->
                    @*<h5 class="mb-2 mt-4">Small Box</h5>*@
                    <div class="row">
                        <div class="col-lg-3 col-10">
                            <!-- small card -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>@Model.assets_count</h3>
                                    @*@Model.Count()*@


                                    <p>Assets</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-cubes"></i>
                                </div>
                                @*<a href="#" class="small-box-footer">
                                       More info <i class="fas fa-arrow-circle-right"></i>
                                    </a>*@
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@Model.users_count</h3>

                                    <p>Users</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                @*<a href="#" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                    </a>*@
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@Model.requests_app_count</h3>

                                    <p>Approved Requests</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-clipboard-check"></i>
                                </div>
                                @*<a href="#" class="small-box-footer">
                                      More info <i class="fas fa-arrow-circle-right"></i>
                                    </a>*@
                            </div>
                        </div>
                        <!-- ./col -->
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>@Model.requests_pen_count</h3>

                                    <p>Pending Requests</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-clipboard-list"></i>
                                </div>
                                @*<a href="#" class="small-box-footer">
                                         More info <i class="fas fa-arrow-circle-right"></i>
                                    </a>*@
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
